PORT=5000
CORS_ORIGINS=*
DATABASE_URL=postgresql://postgres:Sathish150906@db.jxtsttfkafpvubpalrff.supabase.co:5432/postgres

# External Threat Intelligence API Keys
# URLhaus (abuse.ch) requires no key
VIRUSTOTAL_KEY=d07cf959b8fd6929dddcefef8b23422f79213f89c24ae4f86331082ddb9c6563